.logo{
    position: fixed;
    left: 40px;
    width: 100px;
}
.avatar{
    position: fixed;
    right: 100px;
    width: 30px;
}
.navBar{
    position: fixed;
    top: 0;
    width: 100%;
    background-color: #111;
    height: 30px;
    padding: 20px;
    display: flex;
    justify-content: space-between;
}
